<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/CanvasResizer.js"></script>
    <script src="/assets/CodeDisplayManager.js"></script>
</head>
<body>
    <header>
        <h2>Coding Is Fun!</h2>
        <div id="nav-bar">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/featured">Featured Posts</a></li>
                <li><a href="/all_posts">All Posts</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </header>
    <hr>
    {{ content }}
</body>
</html>